@use 'sass:math';
@mixin centered($width, $height) {
	position: absolute;
	left: 50%;
	margin-left: -(math.div($width, 2));
	width: $width;
	top: 50%;
	margin-top: -(math.div($height, 2));
	height: $height;
}
.http-loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(52 52 53 / 60%);
    z-index: 9999;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
    
    &:before {
        content: "";
        position: absolute;
        @include centered(40px, 40px);
        border-radius: 50%;
        border: 4px solid transparent;
        border-top-color: #FFF;
        border-bottom-color: #FFF;
        animation: http-loading 0.5s linear infinite;
    }

    span {
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        text-align: center;
        color: #FFF;
        letter-spacing: 8px;
        text-indent: 8px;
    }
    &.active {
        display: block !important;
        opacity: 1 !important;
    }
}

@keyframes http-loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}