.container-input {
    position: relative;
    margin-bottom: 16px;

    .form-control {
        display: block;
        width: 100%;
        height: 40px;
        padding: 4px 8px;
        line-height: 1.42857143;
        color: #fff;
        background-color: #272c37;
        background-image: none;
        border: 1px solid #3b414e;
        border-radius: 4px;
        -webkit-transition: border-color ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s;

        &:focus {
            border-color: #839df9;
            outline: 0;
            box-shadow: none;
        }

        &[disabled] {
            background-color: #3f4b64 !important;
            opacity: 1;
            cursor: not-allowed;
        }
    }

    label {
        display: flex;
    }
}

:host {
    padding-right: 8px;
    padding-left: 8px;
}
