
@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }

    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333% !important;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.33333333%;
    }

    .offset-sm-2 {
        margin-left: 16.66666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.33333333%;
    }

    .offset-sm-5 {
        margin-left: 41.66666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.33333333%;
    }

    .offset-sm-8 {
        margin-left: 66.66666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.33333333%;
    }

    .offset-sm-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex: 1 0 0%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        flex: 0 0 auto;
        width: 8.33333333% !important;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333333%;
    }

    .offset-md-2 {
        margin-left: 16.66666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333333%;
    }

    .offset-md-5 {
        margin-left: 41.66666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333333%;
    }

    .offset-md-8 {
        margin-left: 66.66666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333333%;
    }

    .offset-md-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex: 1 0 0%;
    }

    .col-lg-auto {
        flex: 0 0 auto;
        width: auto !important;
    }

    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333% !important;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.33333333%;
    }

    .offset-lg-2 {
        margin-left: 16.66666667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.33333333%;
    }

    .offset-lg-5 {
        margin-left: 41.66666667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.33333333%;
    }

    .offset-lg-8 {
        margin-left: 66.66666667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.33333333%;
    }

    .offset-lg-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex: 1 0 0%;
    }

    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xl-1 {
        flex: 0 0 auto;
        width: 8.33333333% !important;
    }

    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .col-xl-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }

    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .col-xl-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .col-xl-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-xl-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .col-xl-8 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }

    .col-xl-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .col-xl-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .col-xl-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .col-xl-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .offset-xl-0 {
        margin-left: 0;
    }

    .offset-xl-1 {
        margin-left: 8.33333333%;
    }

    .offset-xl-2 {
        margin-left: 16.66666667%;
    }

    .offset-xl-3 {
        margin-left: 25%;
    }

    .offset-xl-4 {
        margin-left: 33.33333333%;
    }

    .offset-xl-5 {
        margin-left: 41.66666667%;
    }

    .offset-xl-6 {
        margin-left: 50%;
    }

    .offset-xl-7 {
        margin-left: 58.33333333%;
    }

    .offset-xl-8 {
        margin-left: 66.66666667%;
    }

    .offset-xl-9 {
        margin-left: 75%;
    }

    .offset-xl-10 {
        margin-left: 83.33333333%;
    }

    .offset-xl-11 {
        margin-left: 91.66666667%;
    }
}

@media (min-width: 1400px) {
    .col-xxl {
        flex: 1 0 0%;
    }

    .col-xxl-auto {
        flex: 0 0 auto;
        width: auto;
    }

    .col-xxl-1 {
        flex: 0 0 auto;
        width: 8.33333333% !important;
    }

    .col-xxl-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }

    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }

    .col-xxl-4 {
        flex: 0 0 auto;
        width: 33.33333333% !important;
    }

    .col-xxl-5 {
        flex: 0 0 auto;
        width: 41.66666667% !important;
    }

    .col-xxl-6 {
        flex: 0 0 auto;
        width: 50% !important;
    }

    .col-xxl-7 {
        flex: 0 0 auto;
        width: 58.33333333% !important;
    }

    .col-xxl-8 {
        flex: 0 0 auto;
        width: 66.66666667% !important;
    }

    .col-xxl-9 {
        flex: 0 0 auto;
        width: 75% !important;
    }

    .col-xxl-10 {
        flex: 0 0 auto;
        width: 83.33333333% !important;
    }

    .col-xxl-11 {
        flex: 0 0 auto;
        width: 91.66666667% !important;
    }

    .col-xxl-12 {
        flex: 0 0 auto;
        width: 100% !important;
    }

    .offset-xxl-0 {
        margin-left: 0;
    }

    .offset-xxl-1 {
        margin-left: 8.33333333%;
    }

    .offset-xxl-2 {
        margin-left: 16.66666667%;
    }

    .offset-xxl-3 {
        margin-left: 25%;
    }

    .offset-xxl-4 {
        margin-left: 33.33333333%;
    }

    .offset-xxl-5 {
        margin-left: 41.66666667%;
    }

    .offset-xxl-6 {
        margin-left: 50%;
    }

    .offset-xxl-7 {
        margin-left: 58.33333333%;
    }

    .offset-xxl-8 {
        margin-left: 66.66666667%;
    }

    .offset-xxl-9 {
        margin-left: 75%;
    }

    .offset-xxl-10 {
        margin-left: 83.33333333%;
    }

    .offset-xxl-11 {
        margin-left: 91.66666667%;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -8px;
    margin-left: -8px;
    flex: 1 0 100%;
    align-items: flex-start;
}