.loading-skeleton {
    background-color: #333743;
    animation: pulse-animation 2.5s ease-in-out infinite;
    border-radius: 4px;
}

@keyframes pulse-animation {
    0% {
        background-color: #333743; /* Starting color */
    }
    50% {
        background-color: #414655; /* Lighter shade for pulse */
    }
    100% {
        background-color: #333743; /* Return to base color */
    }
}
