.btn {
    border: 0;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px;
    font-size: 16px;
    font-weight: 700;
}

.btn-primary {
    background-color: #ea377a;
    color: #fff;
}

.btn-primary:hover {
    background-color: #fc6399;
}
