<loader [loaderIds]="[loaderEnum.GAME_DETAIL]">
    <div class="container">
        <div class="left-container">
            <div class="game-bar">
                <game-image
                    [game]="game"
                    [showDetails]="false">
                </game-image>

                <div>
                    @if (isUserLoggedIn) {
                        <app-button
                            (onClick)="openModal()"
                            [disabled]="!game.name">
                            Edit
                        </app-button>
                    }

                    <div
                        class="rating-container"
                        [class.mt-0]="!isUserLoggedIn">
                        <star-rating
                            [rating]="game.rating"
                            color="#3f4b64"
                            colorSelected="#ea377a"
                            [size]="48">
                        </star-rating>
                    </div>
                </div>
            </div>

            @if (game.status === statusEnum.Wishlist && game.urlToBuy) {
                <div class="game-information">
                    <div class="game-price-label">Game price</div>

                    <div class="game-price">
                        @if (game.isPriceAllTimeLow) {
                            <span class="atl-badge">ATL</span>
                        } @else if (game.isPriceOneYearTimeLow) {
                            <span class="ytl-badge">YTL</span>
                        }
                        R$ {{ game.currentPrice | number: "1.2-2" }}
                    </div>

                    <app-button (onClick)="openGamePurchasePage($event)"> Buy game </app-button>
                </div>
            }

            <div class="game-information">
                <app-label
                    label="Status"
                    [textTemplate]="statusText">
                </app-label>

                <ng-template #statusText>
                    <div class="d-flex align-center">
                        <status [type]="game.statusDescription"></status>
                        {{ game.statusDescription }}
                    </div>
                </ng-template>

                <app-label
                    label="Platform"
                    [text]="game.platformText">
                </app-label>

                <app-label
                    label="Released in"
                    [text]="game.releaseDate | date: 'dd/MM/yyyy'">
                </app-label>

                <app-label
                    label="Time played"
                    [text]="
                        game.timePlayed.minutes || game.timePlayed.hours
                            ? (game.timePlayed.hours || 0) + ' hours and ' + (game.timePlayed.minutes || 0) + ' minutes'
                            : '-'
                    ">
                </app-label>

                <app-label
                    label="Is campaign complete?"
                    [text]="game.isCampaignComplete ? 'Yes' : 'No'">
                </app-label>

                <app-label
                    label="Is platinumed?"
                    [text]="game.isPlatinumed ? 'Yes' : 'No'">
                </app-label>

                <app-label
                    label="Date completed"
                    [text]="game.isPlatinumed || game.isCampaignComplete ? (game.lastTimePlayed | date: 'dd/MM/yyyy HH:mm:ss') : '-'">
                </app-label>
            </div>
        </div>
        <div class="right-container">
            <div class="game-title">{{ game.name }}</div>

            <div
                class="game-description"
                [class.opened]="readMoreActive"
                #readMoreContainer>
                {{ game.description }}
            </div>

            <div class="d-flex">
                @if (readMoreContainer.offsetHeight < readMoreContainer.scrollHeight && !readMoreActive) {
                    <a
                        class="read-more-buttons"
                        (click)="toggleReadMore()">
                        Read more
                    </a>
                }

                @if (readMoreActive) {
                    <a
                        class="read-more-buttons"
                        (click)="toggleReadMore()">
                        Read less
                    </a>
                }
            </div>

            <row customClass="mt-20i">
                <app-label
                    label="Genres"
                    [textTemplate]="genreTemplate"
                    [inputSize]="6">
                </app-label>

                <ng-template #genreTemplate>
                    <div class="d-flex flex-wrap">
                        @for (genre of game.genresDescription; track $index; let last = $last) {
                            <a
                                class="link"
                                [routerLink]="['']"
                                [queryParams]="{ genre: genre.slug }">
                                <span>{{ genre.name }}</span>
                            </a>

                            @if (!last) {
                                <span>,&nbsp;</span>
                            }
                        }

                        @if (!game.genresDescription.length) {
                            -
                        }
                    </div>
                </ng-template>

                <app-label
                    label="Themes"
                    [textTemplate]="themeTemplate"
                    [inputSize]="6">
                </app-label>

                <ng-template #themeTemplate>
                    <div class="d-flex flex-wrap">
                        @for (theme of game.themesDescription; track $index; let last = $last) {
                            <a
                                class="link"
                                [routerLink]="['']"
                                [queryParams]="{ theme: theme.slug }">
                                <span>{{ theme.name }}</span>
                            </a>

                            @if (!last) {
                                <span>,&nbsp;</span>
                            }
                        }

                        @if (!game.themesDescription.length) {
                            -
                        }
                    </div>
                </ng-template>
            </row>

            <row customClass="mt-10i">
                <app-label
                    label="Published by"
                    [text]="game.publisher"
                    [inputSize]="6">
                </app-label>

                <app-label
                    label="Developed by"
                    [text]="game.developer"
                    [inputSize]="6">
                </app-label>
            </row>

            @if (!!game.mainStoryTime) {
                <div class="achievements-title">How Long to Beat</div>
                <game-how-long-to-beat [game]="game"> </game-how-long-to-beat>
            }

            @if (!!game.screenshots?.length) {
                <div class="achievements-title">Images</div>

                <game-screenshots [screenshots]="game.screenshots!"> </game-screenshots>
            }

            <div class="achievements-title">Achievements</div>

            <row>
                @for (achievement of game.achievements; track $index) {
                    <game-achievement [achievement]="achievement"> </game-achievement>
                }
            </row>

            @if (!game.achievements.length) {
                <div class="no-achievements">This game does not have achievements.</div>
            }
        </div>
    </div>
</loader>
