<loader [loaderIds]="[loaderEnum.GAME_DETAIL]">
    <div class="container">
        <div class="left-container">
            <div class="game-bar">
                <game-image
                    [game]="game"
                    [showDetails]="false">
                </game-image>

                <div>
                    @if (isUserLoggedIn) {
                        <app-button
                            (onClick)="openModal()"
                            [disabled]="!game.name">
                            {{ "EDIT" | translate }}
                        </app-button>
                    }

                    <div
                        class="rating-container"
                        [class.mt-0]="!isUserLoggedIn">
                        <star-rating
                            [rating]="game.rating"
                            color="#3f4b64"
                            colorSelected="#ea377a"
                            [size]="48">
                        </star-rating>
                    </div>
                </div>
            </div>

            @if (game.status === statusEnum.Wishlist && game.urlToBuy) {
                <div class="game-information">
                    <div class="game-price-label">{{ "PRICE" | translate }}</div>

                    <div class="game-price">
                        @if (game.isPriceAllTimeLow) {
                            <span class="atl-badge">ATL</span>
                        } @else if (game.isPriceOneYearTimeLow) {
                            <span class="ytl-badge">YTL</span>
                        }
                        R$ {{ game.currentPrice | number: "1.2-2" }}
                    </div>

                    <app-button (onClick)="openGamePurchasePage($event)"> {{ "BUY_GAME" | translate }} </app-button>
                </div>
            }

            <div class="game-information">
                <app-label
                    label="Status"
                    [textTemplate]="statusText">
                </app-label>

                <ng-template #statusText>
                    <div class="d-flex align-center">
                        <status [type]="game.statusDescription"></status>
                        {{ game.statusDescription }}
                    </div>
                </ng-template>

                <app-label
                    [label]="'PLATFORM' | translate"
                    [text]="game.platformText">
                </app-label>

                <app-label
                    [label]="'RELEASED_IN' | translate"
                    [text]="game.releaseDate | date: 'dd/MM/yyyy'">
                </app-label>

                <app-label
                    [label]="'TIME_PLAYED' | translate"
                    [text]="
                        game.timePlayed.minutes || game.timePlayed.hours
                            ? (game.timePlayed.hours || 0) +
                              ' ' +
                              ('HOURS_AND' | translate | lowercase) +
                              ' ' +
                              (game.timePlayed.minutes || 0) +
                              ' ' +
                              ('MINUTES' | translate | lowercase)
                            : '-'
                    ">
                </app-label>

                <app-label
                    [label]="'IS_CAMPAIGN_COMPLETED' | translate"
                    [text]="game.isCampaignComplete ? ('YES' | translate) : ('NO' | translate)">
                </app-label>

                <app-label
                    [label]="'IS_PLATINUMED' | translate"
                    [text]="game.isPlatinumed ? ('YES' | translate) : ('NO' | translate)">
                </app-label>

                <app-label
                    [label]="'DATE_COMPLETED' | translate"
                    [text]="game.isPlatinumed || game.isCampaignComplete ? (game.lastTimePlayed | date: 'dd/MM/yyyy HH:mm:ss') : '-'">
                </app-label>
            </div>
        </div>
        <div class="right-container">
            <div class="game-title">{{ game.name }}</div>

            <div
                class="game-description"
                [class.opened]="readMoreActive"
                [class.overflowing]="isOverflowing"
                [style.maxHeight.px]="readMoreActive ? readMoreContainer.scrollHeight : 140"
                #readMoreContainer
                >{{ game.description_ptbr || game.description }}</div
            >

            @if (isOverflowing) {
                <div class="read-more-container">
                    <a
                        class="read-more-link"
                        (click)="toggleReadMore()">
                        {{ readMoreActive ? ("READ_LESS" | translate) : ("READ_MORE" | translate) }}
                        <icon
                            [icon]="iconEnum.AngleDown"
                            [size]="14"
                            [customClass]="readMoreActive ? 'rotate-180' : ''">
                        </icon>
                    </a>
                </div>
            }

            <row customClass="mt-20i">
                <app-label
                    [label]="'GENRES' | translate"
                    [textTemplate]="genreTemplate"
                    [inputSize]="6">
                </app-label>

                <ng-template #genreTemplate>
                    <div class="d-flex flex-wrap">
                        @for (genre of game.genresDescription; track $index; let last = $last) {
                            <a
                                class="link"
                                [routerLink]="['']"
                                [queryParams]="{ genre: genre.slug }">
                                <span>{{ genre.name }}</span>
                            </a>

                            @if (!last) {
                                <span>,&nbsp;</span>
                            }
                        }

                        @if (!game.genresDescription.length) {
                            -
                        }
                    </div>
                </ng-template>

                <app-label
                    [label]="'THEMES' | translate"
                    [textTemplate]="themeTemplate"
                    [inputSize]="6">
                </app-label>

                <ng-template #themeTemplate>
                    <div class="d-flex flex-wrap">
                        @for (theme of game.themesDescription; track $index; let last = $last) {
                            <a
                                class="link"
                                [routerLink]="['']"
                                [queryParams]="{ theme: theme.slug }">
                                <span>{{ theme.name }}</span>
                            </a>

                            @if (!last) {
                                <span>,&nbsp;</span>
                            }
                        }

                        @if (!game.themesDescription.length) {
                            -
                        }
                    </div>
                </ng-template>
            </row>

            <row customClass="mt-10i">
                <app-label
                    [label]="'PUBLISHED_BY' | translate"
                    [text]="game.publisher"
                    [inputSize]="6">
                </app-label>

                <app-label
                    [label]="'DEVELOPED_BY' | translate"
                    [text]="game.developer"
                    [inputSize]="6">
                </app-label>
            </row>

            @if (!!game.mainStoryTime) {
                <div class="achievements-title">{{ "HOW_LONG_TO_BEAT" | translate }}</div>
                <game-how-long-to-beat [game]="game"> </game-how-long-to-beat>
            }

            @if (!!game.screenshots?.length) {
                <div class="achievements-title">{{ "IMAGES" | translate }}</div>

                <game-screenshots [screenshots]="game.screenshots!"> </game-screenshots>
            }

            @if (game.comments) {
                <div class="achievements-title">{{ "PLAYER_COMMENTS" | translate }}</div>

                <div
                    class="game-comments"
                    [class.opened]="readMoreCommentsActive"
                    [class.overflowing]="isCommentsOverflowing"
                    [style.maxHeight.px]="readMoreCommentsActive ? readMoreCommentsContainer.scrollHeight : 140"
                    #readMoreCommentsContainer>
                    <markdown [data]="game.comments | formatMarkdown"></markdown>
                </div>

                @if (isCommentsOverflowing) {
                    <div class="read-more-container">
                        <a
                            class="read-more-link"
                            (click)="toggleReadMoreComments()">
                            {{ readMoreCommentsActive ? ("READ_LESS" | translate) : ("READ_MORE" | translate) }}
                            <icon
                                [icon]="iconEnum.AngleDown"
                                [size]="14"
                                [customClass]="readMoreCommentsActive ? 'rotate-180' : ''">
                            </icon>
                        </a>
                    </div>
                }
            }

            <div class="achievements-title">{{ "ACHIEVEMENTS" | translate }}</div>

            <row>
                @for (achievement of game.achievements; track $index) {
                    <game-achievement [achievement]="achievement"> </game-achievement>
                }
            </row>

            @if (!game.achievements.length) {
                <div class="no-achievements">{{ "THIS_GAME_DOES_NOT_HAVE_ACHIEVEMENTS" | translate }}</div>
            }
        </div>
    </div>
</loader>
