.container {
    padding-top: 350px;
    display: flex;

    .left-container {
        width: 21%;
        padding: 0 16px;
        margin-top: 30px;

        .game-bar {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            padding-top: 40px;
        }
        .cover {
            align-items: center;
            background-color: #30394c;
            border: 1px solid #30394c;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            transition: filter 0.2s;
            overflow: hidden;
            width: 227px;
            height: 302px;
            text-align: center;
            position: absolute;
            top: -279px;
            left: 17px;

            img {
                height: 300px;
            }
        }

        .rating-container {
            margin-top: 8px;
        }

        .game-information {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            margin-top: 16px;

            div {
                margin-bottom: 6px;
            }
        }
    }

    .link {
        color: #ea377a;

        &:hover {
            text-decoration: underline;
        }
    }

    .game-general-information {
        display: flex;
        color: #ccdbf1;
        width: 100%;
        margin: 20px 0;

        & > div {
            flex: 1 0 50%;
        }

        .game-information-label{
            width: 50%;
        }
    }
        
        .game-information-label {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0;
            color: #8f9ca7;
        }
    .right-container {
        width: 79%;
        padding: 0 16px;

        .game-title {
            font-weight: 700;
            font-size: 2.5rem;
        }

        .game-description {
            color: #ccdbf1;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .game-description.opened {
            -webkit-line-clamp: unset;
        }

        .read-more-buttons {
            cursor: pointer;
        }
            
        .achievements-title {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 12px;
            margin-top: 32px;
        }

        .achievements-container {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            ngx-skeleton-loader {
                width: 100%;
            }

            .achievement-container {
                border-bottom: 1px solid rgb(162 177 229 / 11%);
                display: flex;
                font-size: 14px;
                color: #ccdbf1;
                overflow: hidden;
                align-items: center;
                flex: 1 1 calc((100% - 32px) / 3);
                max-width: calc((100% - 32px) / 3);
                padding-bottom: 13px;

                .achievement-description {
                    color: #8f9ca7;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    font-size: 12px;
                }

                .achievement-name {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 20px;
                    margin-bottom: 4px;
                    margin-top: 2px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .achievement-date {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    font-size: 12px;
                }

                .achievement-informations {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-grow: 1;
                    overflow: hidden;
                    flex-wrap: wrap;
                    opacity: .4;

                    .achievement-time {
                        font-size: 13px;
                    }
                }

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 8px;
                    width: 65px;
                    height: 65px;
                    min-width: 65px;
                    filter: grayscale(1);
                    opacity: .4;

                    img {
                        width: 56px;
                        height: 56px;
                    }
                }

                .achievement-no-icon {
                    width: 56px;
                    height: 56px;
                    background-color: #ea377a;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .achievement-container.achieved {
                .icon {
                    filter: none;
                    opacity: 1;
                }
                
                .achievement-informations {
                    opacity: 1;
                }
            }
        }
    }
}

.mt-0 {
    margin-top: 0 !important;
}

@media(max-width: 536px) {
    .container {
        flex-wrap: wrap !important;
    }

    .left-container, .right-container {
        width: 100% !important;
    }

    .game-bar .cover {
        left: calc(50% - 113px) !important; 
    }

    :host ::ng-deep {
        .rating-container .container-input {
            display: flex !important;
            justify-content: center !important;
        }
    }

    .right-container {
        margin-top: 24px !important;
    }

    .achievement-container {
        flex: 1 0 100% !important;
        max-width: 100% !important;
    }
}