<div class="container">
    <div class="left-container">
        <div class="game-bar">
            @if (isLoading) {
                <ngx-skeleton-loader
                    [count]="1"
                    appearance="circle"
                    [theme]="{ height: '302px', width: '227px', borderRadius: '5px', margin: '0', position: 'absolute', top: '-279px', left: '17px' }">
                </ngx-skeleton-loader>
            } @else {
                <div class="cover">
                    @if (game.name && game.image) {
                        <img
                            [src]="game.image"
                            alt="game" />
                    } @else if (game.name && !game.image) {
                        <div class="d-flex direction-column align-center">
                            <icon
                                [icon]="iconEnum.Warning"
                                [size]="24">
                            </icon>
                            Sync this game with IGDB
                        </div>
                    }
                </div>
            }

            <div>
                @if (game.name && isUserLoggedIn) {
                    <app-button (onClick)="openModal()"> Edit </app-button>
                }

                <div
                    class="rating-container"
                    [class.mt-0]="!isUserLoggedIn">
                    <star-rating
                        [rating]="game.rating"
                        color="#3f4b64"
                        colorSelected="#ea377a"
                        [size]="48">
                    </star-rating>
                </div>
            </div>
        </div>

        <div class="game-information">
            <div>
                <div class="game-information-label">Status</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    <div class="d-flex align-center">
                        <status [type]="game.statusDescription"></status>
                        {{ game.statusDescription }}
                    </div>
                }
            </div>

            <div>
                <div class="game-information-label">Platform</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    <div>{{ game.platformText }}</div>
                }
            </div>

            <div>
                <div class="game-information-label">Released in</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    <div>{{ (game.releaseDate | date: "dd/MM/yyyy") || "-" }}</div>
                }
            </div>

            @if (game.platform === platformEnum.RetroAchievements) {
                <div>
                    <div class="game-information-label">Console</div>
                    @if (isLoading) {
                        <ngx-skeleton-loader
                            [count]="1"
                            appearance="circle"
                            [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                        </ngx-skeleton-loader>
                    } @else {
                        <div>{{ game.retroConsoleText }}</div>
                    }
                </div>
            }

            <div>
                <div class="game-information-label">Time played</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    @if (game.timePlayed.hours || game.timePlayed.minutes) {
                        <div>{{ game.timePlayed.hours }} hours and {{ game.timePlayed.minutes }} minutes</div>
                    } @else {
                        -
                    }
                }
            </div>

            <div>
                <div class="game-information-label">Is campaign complete?</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    <div>{{ game.isCampaignComplete ? "Yes" : "No" }}</div>
                }
            </div>

            <div>
                <div class="game-information-label">Is platinumed?</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    <div>{{ game.isPlatinumed ? "Yes" : "No" }}</div>
                }
            </div>

            <div>
                <div class="game-information-label">Date completed</div>
                @if (isLoading) {
                    <ngx-skeleton-loader
                        [count]="1"
                        appearance="circle"
                        [theme]="{ height: '24px', width: '100%', borderRadius: '5px', margin: '0' }">
                    </ngx-skeleton-loader>
                } @else {
                    @if (game.isPlatinumed || game.isCampaignComplete) {
                        <div>{{ (game.lastUnlock | date: "dd/MM/yyyy HH:mm:ss") || "-" }}</div>
                    } @else {
                        <div>-</div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="right-container">
        @if (isLoading) {
            <ngx-skeleton-loader
                [count]="1"
                appearance="circle"
                [theme]="{ height: '50px', width: '100%', borderRadius: '5px', margin: '0', marginTop: '5px', marginBottom: '5px' }">
            </ngx-skeleton-loader>
        } @else {
            <div class="game-title">{{ game.name }}</div>
        }

        @if (isLoading) {
            <ngx-skeleton-loader
                [count]="1"
                appearance="circle"
                [theme]="{ height: '86px', width: '100%', borderRadius: '5px', margin: '0', marginTop: '5px', marginBottom: '5px' }">
            </ngx-skeleton-loader>
        } @else {
            <div
                class="game-description"
                [class.opened]="readMoreActive"
                #readMoreContainer>
                {{ game.description }}
            </div>

            <div class="d-flex">
                @if (readMoreContainer.offsetHeight < readMoreContainer.scrollHeight && !readMoreActive) {
                    <a
                        class="read-more-buttons"
                        (click)="toggleReadMore()">
                        Read more
                    </a>
                }

                @if (readMoreActive) {
                    <a
                        class="read-more-buttons"
                        (click)="toggleReadMore()">
                        Read less
                    </a>
                }
            </div>
        }

        <div class="game-general-information">
            <div>
                <div class="game-information-label">Genres</div>

                @for (genre of game.genresDescription; track $index; let last = $last) {
                    <a
                        class="link"
                        href="#">
                        <span>{{ genre.name }}</span>
                    </a>

                    @if (!last) {
                        <span>,&nbsp;</span>
                    }
                }

                @if (!game.genresDescription?.length) {
                    -
                }
            </div>

            <div>
                <div class="game-information-label">Themes</div>

                @for (theme of game.themesDescription; track $index; let last = $last) {
                    <a
                        class="link"
                        href="#">
                        <span>{{ theme.name }}</span>
                    </a>

                    @if (!last) {
                        <span>,&nbsp;</span>
                    }
                }

                @if (!game.themesDescription?.length) {
                    -
                }
            </div>
        </div>

        <div class="game-general-information">
            <div>
                <div class="game-information-label">Published by</div>

                <div>{{ game.publisher || "-" }}</div>
            </div>

            <div>
                <div class="game-information-label">Developed by</div>

                <div>{{ game.developer || "-" }}</div>
            </div>
        </div>

        <div class="achievements-title">Achievements</div>

        <div class="achievements-container">
            @if (isLoading) {
                <ngx-skeleton-loader
                    [count]="9"
                    appearance="circle"
                    [theme]="{ height: '56px', width: '100%', borderRadius: '5px', margin: '0', marginTop: '5px', marginBottom: '5px' }">
                </ngx-skeleton-loader>
            } @else {
                @for (achievement of game.achievements; track $index; let last = $last) {
                    <div
                        class="achievement-container"
                        [class.last]="last"
                        [class.achieved]="achievement.isAchieved">
                        <div class="icon">
                            @if (achievement.image) {
                                <img
                                    [src]="achievement.image"
                                    alt="achievement icon" />
                            } @else {
                                <div class="achievement-no-icon">
                                    <icon
                                        [icon]="iconEnum.Trophy"
                                        [size]="22">
                                    </icon>
                                </div>
                            }
                        </div>
                        <div class="achievement-informations">
                            <div class="achievement-date">
                                <div>{{ achievement.dateAchieved | date: "dd/MM/YYYY" }} - {{ achievement.dateAchieved | date: "HH:mm:ss" }}</div>
                                @if (achievement.percentageAchieved) {
                                    <span>{{ achievement.percentageAchieved | number: "1.2-2" }} %</span>
                                }
                            </div>
                            <div class="achievement-name">{{ achievement.name }}</div>
                            <div
                                class="achievement-description"
                                [title]="achievement.description">
                                {{ achievement.description || "-" }}
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
