.container {
    padding-top: 350px;
    display: flex;

    .left-container {
        width: 21%;
        padding: 0 16px;
        margin-top: 30px;

        .game-bar {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            padding-top: 40px;
        }

        .rating-container {
            margin-top: 8px;
        }

        .game-information {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            margin-top: 16px;

            div {
                margin-bottom: 6px;
            }
        }
    }

    .right-container {
        width: 79%;
        padding: 0 16px;

        .game-title {
            font-weight: 700;
            font-size: 2.5rem;
        }

        .game-description {
            color: #ccdbf1;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .game-description.opened {
            -webkit-line-clamp: unset;
        }

        .read-more-buttons {
            cursor: pointer;
        }

        .achievements-title {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 12px;
            margin-top: 32px;
        }
    }
}

.mt-0 {
    margin-top: 0 !important;
}

@media (max-width: 575px) {
    .container {
        flex-wrap: wrap !important;
    }

    .left-container,
    .right-container {
        width: 100% !important;
    }

    .game-bar .cover {
        left: calc(50% - 113px) !important;
    }

    :host ::ng-deep {
        .rating-container .container-input {
            display: flex !important;
            justify-content: center !important;
        }
    }

    .right-container {
        margin-top: 24px !important;
    }

    game-image,
    game-image-skeleton {
        left: calc(50% - 112px) !important;
    }
}

.no-achievements {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    font-weight: 700;
    color: #8f9ca7;
    margin-bottom: 80px;
}

.title-skeleton {
    height: 35px;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 50%;
}

.description-skeleton {
    height: 100px;
    margin-top: 7px;
}

game-image,
game-image-skeleton {
    position: absolute;
    top: -279px;
    left: 17px;
}

.game-price {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-bottom: 11px !important;
}

.game-price-label {
    text-align: center;
    font-size: 14px;
}

.atl-badge {
    background-color: #00bc7d;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -4px;
}

.ytl-badge {
    background-color: #e69b3e;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -4px;
}

:host ::ng-deep {
    @media (max-width: 575px) {
        game-image .cover {
            height: 302px;

            img {
                height: 302px;
            }
        }

        game-image .image-container {
            height: 302px;
        }
    }
}
