.container {
    padding-top: 350px;
    display: flex;

    .left-container {
        width: 21%;
        padding: 0 16px;
        margin-top: 30px;

        .game-bar {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            padding-top: 40px;
        }
        .cover {
            align-items: center;
            background-color: #30394c;
            border: 1px solid #30394c;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            transition: filter 0.2s;
            overflow: hidden;
            width: 227px;
            height: 302px;
            text-align: center;
            position: absolute;
            top: -279px;
            left: 17px;

            img {
                height: 300px;
            }
        }

        .rating-container {
            margin-top: 8px;
        }

        .game-information {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            margin-top: 16px;

            div {
                margin-bottom: 6px;
            }

            .game-information-label {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 0;
                color: #8f9ca7;
            }
        }
    }
    .right-container {
        width: 79%;
        padding: 0 16px;

        .game-title {
            font-weight: 700;
            font-size: 2.5rem;
        }

        .game-description {
            color: #ccdbf1;
        }

        .achievements-container {
            margin-top: 32px;
            .achievements-title {
                font-size: 1.3rem;
                font-weight: 400;
            }

            .achievement-container {
                border-bottom: 1px solid rgb(162 177 229 / 11%);
                display: flex;
                padding: 10px;
                font-size: 14px;
                color: #ccdbf1;

                &:hover {
                    background-color: #1d2027;
                }

                .achievement-description {
                    color: #8f9ca7;
                }

                .achievement-informations {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-grow: 1;

                    .achievement-time {
                        font-size: 13px;
                    }
                }

                &.last {
                    border-bottom: 0;
                }

                .icon {
                    width: 45px;
                    height: 45px;
                    margin-right: 16px;
                    filter: grayscale(1);
                }

                .achievement-no-icon {
                    width: 100%;
                    height: 100%;
                    background-color: #ea377a;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .achievement-container.achieved {
                .icon {
                    filter: none;
                }
            }
        }
    }
}

.achievement-earn-rate {
    display: flex;
    align-items: center;
    padding-left: 16px;
    border-left: 1px solid rgb(162 177 229 / 11%);
    margin-left: 16px;
    width: 74px;
}