.container {
    padding-top: 350px;
    display: flex;

    .left-container {
        width: 21%;
        padding: 0 16px;
        margin-top: 30px;

        .game-bar {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            padding-top: 40px;
        }

        .rating-container {
            margin-top: 8px;
        }

        .game-information {
            background-color: #242832;
            border-radius: 7px;
            position: relative;
            padding: 16px;
            margin-top: 16px;

            div {
                margin-bottom: 6px;
            }
        }
    }

    .right-container {
        width: 79%;
        padding: 0 16px;

        .game-title {
            font-weight: 700;
            font-size: 2.5rem;
        }

        .game-description {
            white-space: pre-wrap;
        }

        .game-description,
        .game-comments {
            color: #ccdbf1;
            max-height: 140px;
            overflow: hidden;
            position: relative;
            transition: max-height 0.3s ease-out;

            &.overflowing:not(.opened) {
                mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
                -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
            }
        }

        .game-description.opened,
        .game-comments.opened {
            max-height: 1000px; /* Arbitrary large height to allow expansion */
        }

        .read-more-container {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 12px;
            margin-bottom: 32px;

            .read-more-link {
                cursor: pointer;
                color: #8f9ca7;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 6px;
                font-weight: 600;

                &:hover {
                    color: #fff;
                }
            }
        }

        ::ng-deep .rotate-180 {
            transform: rotate(180deg);
            transition: transform 0.3s ease;
        }

        .achievements-title {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 12px;
            margin-top: 32px;
        }
    }
}

.mt-0 {
    margin-top: 0 !important;
}

@media (max-width: 575px) {
    .container {
        flex-wrap: wrap !important;
    }

    .left-container,
    .right-container {
        width: 100% !important;
    }

    .game-bar .cover {
        left: calc(50% - 113px) !important;
    }

    :host ::ng-deep {
        .rating-container .container-input {
            display: flex !important;
            justify-content: center !important;
        }
    }

    .right-container {
        margin-top: 24px !important;
    }
}

.no-achievements {
    text-align: center;
    width: 100%;
    margin-top: 80px;
    font-weight: 700;
    color: #8f9ca7;
    margin-bottom: 80px;
}

.game-price {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin-bottom: 11px !important;
}

.game-price-label {
    text-align: center;
    font-size: 14px;
}

.atl-badge {
    background-color: #00bc7d;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -4px;
}
game-image {
    position: absolute;
    top: -279px;
    left: 17px;
}

.ytl-badge {
    background-color: #e69b3e;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -4px;
}

:host ::ng-deep {
    @media (max-width: 575px) {
        game-image .cover {
            height: 302px;

            img {
                height: 302px;
            }
        }

        game-image .image-container {
            height: 302px;
        }
    }

    markdown p, markdown ul {
        margin-bottom: 2rem;
    }

    markdown p:last-of-type {
        margin-bottom: 0;
    }

    markdown p:has(+ ul) {
        margin-bottom: 0.5rem;
    }   

    markdown {
        color: #ccdbf1;
    }
}
