textarea {
    min-height: 130px;
    max-height: 400px;
    width: auto;
    flex: 1 1 100%;
}

label {
    display: flex;
    align-items: center;
}

.container-input {
    display: flex;
    flex-wrap: wrap;
}
