
.image-container {
    width: 227px;
    height: 302px;
}

@media (max-width: 575px) {
    :host {
        width: calc(50% - 4px);
    }

    .image-container.show-details {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .cover {
        width: 100%;
        height: 285px;

        img {
            height: 285px;
        }
    }
}