<a
    class="image-container"
    [class.no-click]="!showDetails()"
    [routerLink]="showDetails() ? ['game', game().id] : undefined"
    (click)="onClickHandler()">
    <div class="cover">
        @if (game().name && game().image) {
            <img
                [src]="game().image"
                alt="game" />
        } @else if (game().name && !game().image) {
            <div class="d-flex direction-column align-center">
                <icon
                    [icon]="iconEnum.Warning"
                    [size]="24">
                </icon>
                {{ "SYNC_WITH_IGDB" | translate }}
            </div>
        }
    </div>
</a>
