.image-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.image-container.no-click {
    cursor: initial;
}

.cover {
    align-items: center;
    background-color: #30394c;
    border: 1px solid #30394c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: filter 0.2s;
    overflow: hidden;
    width: 227px;
    height: 302px;
    text-align: center;

    img {
        height: 302px;
    }
}

.game-name {
    font-weight: 700;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 302px;
    padding: 16px;
    background: #242832;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: 5px;
    text-align: left;
    color: #e1e1e1;
}

.image-container:hover .card-info {
    transform: translateY(0);
}

.info-label {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
    color: #8f9ca7;
}

.info-text {
    font-size: 14px;
    display: flex;
    align-items: center;
}

:host ::ng-deep {
    status {
        .achievement-status {
            padding-top: 3px;
        }
    }
}

@media (max-width: 575px) {
    .cover {
        width: 100%;
        height: 285px;

        img {
            height: 285px;
        }
    }

    .no-click .cover {
        width: 227px;
        height: 302px;

        img {
            height: 302px;
        }
    }
}