.image-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.image-container.no-click {
    cursor: initial;
}

.cover {
    align-items: center;
    background-color: #30394c;
    border: 1px solid #30394c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: filter 0.2s;
    overflow: hidden;
    width: 227px;
    height: 302px;
    text-align: center;

    img {
        height: 302px;
    }
}

.price-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33px;
    text-align: center;
    background-color: #000000a6;
    font-weight: bold;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &.atl {
        background-color: #00bc7d;
        color: #fff;
    }

    &.ytl {
        background-color: #e69b3e;
        color: #fff;
    }
}

.game-name {
    font-weight: 700;
    overflow: hidden;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 302px;
    padding: 16px;
    background: #242832;
    transform: translateY(100%);
    transition: transform 0.25s ease-in-out;
    border-radius: 5px;
    text-align: left;
    color: #e1e1e1;
    z-index: 1;
}

.image-container:hover .card-info {
    transform: translateY(0);
}

.info-label {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
    color: #8f9ca7;
}

.buy-button {
    background-color: #ea377a;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 12px;
    display: block;
    font-size: 0.9rem;
    transition: background-color 0.2s;

    &:hover {
        background-color: #d92566;
    }
}

.info-text {
    font-size: 14px;
    display: flex;
    align-items: center;
}

:host ::ng-deep {
    status {
        .achievement-status {
            padding-top: 3px;
        }
    }
}

@media (max-width: 575px) {
    .cover {
        width: 100%;
        height: 240px;

        img {
            height: 240px;
        }
    }

    .image-container {
        height: 240px;
    }

    .card-info {
        display: none;
    }

    .no-click .cover {
        width: 227px;
        height: 302px;

        img {
            height: 302px;
        }
    }
}