:host {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    position: relative;

    &:hover {
        .sorts-list {
            display: flex;
        }
    }
}

.sorts-list {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 10;
    top: 24px;
    background-color: #242832;
    border-radius: 5px;
    overflow: hidden;
}

.sort-field {
    font-weight: 700;
    margin-left: 6px;
    cursor: pointer;
    color: #ea377a;
}

.sort-item {
    padding: 8px 16px;
    border-bottom: 1px solid rgba(162, 177, 229, 0.11);
    cursor: pointer;
    min-width: 150px;

    &:hover {
        background-color: #1d2027;
    }
}