.achievement-container {
    border-bottom: 1px solid rgb(162 177 229 / 11%);
    display: flex;
    font-size: 14px;
    color: #ccdbf1;
    overflow: hidden;
    align-items: center;
    padding-bottom: 13px;
    margin-bottom: 13px;

    .achievement-description {
        color: #8f9ca7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 12px;
    }

    .achievement-name {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 4px;
        margin-top: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .achievement-date {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
    }

    .achievement-informations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        overflow: hidden;
        flex-wrap: wrap;
        opacity: 0.4;

        .achievement-time {
            font-size: 13px;
        }
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        width: 65px;
        height: 65px;
        min-width: 65px;
        filter: grayscale(1);
        opacity: 0.4;

        img {
            width: 56px;
            height: 56px;
        }
    }

    .achievement-no-icon {
        width: 56px;
        height: 56px;
        background-color: #ea377a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.achievement-container.achieved {
    .icon {
        filter: none;
        opacity: 1;
    }

    .achievement-informations {
        opacity: 1;
    }
}
