<span [class]="color">
    <svg
        [attr.width]="size"
        [attr.height]="size"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12 4
       Q11.5 5 3.5 19
       Q2.8 20 4 20
       H20
       Q21.2 20 20.5 19
       Q12.5 5 12 4Z"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linejoin="round" />
        <path
            fill="currentColor"
            d="M11 10h2v4h-2zM11 16h2v2h-2z" />
    </svg>
</span>
