.label-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
    color: #8f9ca7;
}

.label-text {
    margin-bottom: 6px;
    color: #ccdbf1;
}

.loading-skeleton {
    margin-bottom: 6px;
    height: 24px;
    width: 100%;
}
