:host {
    padding-right: 8px;
    padding-left: 8px;
}

.label-select {
    display: flex;
    align-items: center;
}

label {
    position: relative;
    margin-bottom: 4px;
}

.container-input {
    position: relative;
    margin-bottom: 16px;
}

:host ::ng-deep {
    .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container,
    .ng-select.ng-select-focused > .ng-select-container {
        box-shadow: none !important;
        border-color: #839df9 !important;
    }

    .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        color: #FFF !important;
    }

    .ng-select .ng-select-container {
        height: 40px !important;
        border-color: #3b414e !important;
        border-radius: 4px;
        background-color: #272c37;
        -webkit-transition: border-color ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s;
    }

    .ng-select .ng-select-container:hover {
        box-shadow: none !important;
        cursor: pointer !important;
    }

    .ng-select.ng-select-opened > .ng-select-container {
        background-color: #272c37;
    }

    .ng-select.ng-select-opened .ng-select-container:hover input,
    .ng-select.ng-select-focused .ng-select-container:hover input {
        cursor: text !important;
    }

    .ng-select .ng-select-container:hover input {
        cursor: pointer !important;
    }

    .ng-select .ng-select-container .ng-value-container {
        padding-left: 8px;
    }

    .ng-select.ng-select-disabled .ng-select-container input {
        cursor: not-allowed !important;
    }

    .ng-select div,
    .ng-select input,
    .ng-select span {
        font-weight: 400;
        color: #fff;
        border-radius: 0;
    }

    .ng-select .ng-input {
        padding-left: 8px !important;
    }

    .ng-select .ng-input input {
        font-size: 16px !important;
        height: 27px;
        width: calc(100% - 5px) !important;
    }

    .ng-select .ng-value-container {
        width: 0;
    }

    ng-dropdown-panel {
        border-color: #3b414e !important;
        background-color: #272c37 !important;

        &.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
        &.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
            background-color: #3b4760;
            color: #fff;

            span {
                color: #fff;
                font-weight: 400 !important;
            }
        }

        &.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
            background-color: #272c37 !important;
            padding: 7px 8px !important;
        }

        &.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
            text-decoration: none;
            color: #fff;
            background-color: #3b4760 !important;
        }

        &.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
            padding-left: 22px !important;
        }
    }
}
