.modal-header {
    .game-cover {
        width: 68px;
        height: 90px;
        border-radius: 5px;
        border: 1px solid #30394c;
        background-color: #30394c;
        overflow: hidden;
        margin-right: 16px;

        img {
            width: 100%;
        }
    }

    .game-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 4px;
    }
}

.pl-8 {
    padding-left: 8px;
}

.game-principal {
    flex-grow: 1;
}

.mt-16 {
    margin-top: 16px;
}

:host ::ng-deep {
    .game-principal app-input .container-input {
        margin-bottom: 0 !important;
    }
}

.pr-8 {
    padding-right: 8px;
}

.modal-body {
    overflow: visible;

    &.game-info-body {
        display: flex;
        padding: 1rem;
        flex-wrap: wrap;
        padding-bottom: 1.5rem;
    }
}

.achievements-body.modal-body {
    overflow: auto;
    max-height: 506px;
    padding: 1rem;
    padding-bottom: 1.5rem;

    &.no-achievements {
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

.modal-footer {
    background-color: #242832;
    justify-content: space-between;
}

.achievement-container {
    border-bottom: 1px solid rgb(162 177 229 / 11%);
    display: flex;
    padding: 10px;
    font-size: 14px;
    color: #ccdbf1;

    &:hover {
        background-color: #1d2027;
    }

    .achievement-description {
        color: #8f9ca7;
    }

    .achievement-informations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        .achievement-time {
            font-size: 13px;
        }
    }

    &.last {
        border-bottom: 0;
    }

    .icon {
        width: 45px;
        height: 45px;
        margin-right: 16px;
        filter: grayscale(1);
        opacity: 0.4;
    }

    .achievement-text {
        opacity: 0.4;
    }

    .achievement-no-icon {
        width: 100%;
        height: 100%;
        background-color: #ea377a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.achievement-container.achieved {
    .icon {
        filter: none;
        opacity: 1 !important;
    }

    .achievement-text {
        opacity: 1 !important;
    }
}

.achievements-buttons {
    display: flex;
    gap: 8px;
}

.p-6 {
    padding: 6px;
}

.status-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
    margin-bottom: 24px;
}

.text-center {
    text-align: center;
}

:host ::ng-deep {

    .btn.playing,
    .btn.completed,
    .btn.shelved,
    .btn.backlog,
    .btn.wishlist {
        height: 50px;
    }

    .btn.playing.selected,
    .btn.playing:hover {
        border-color: #4b7bd4;
        color: #fff;
        border-bottom: 3px solid #4b7bd4;
        background-color: transparent;
    }

    .btn.completed.selected,
    .btn.completed:hover {
        border-color: #00bc7d;
        color: #fff;
        border-bottom: 3px solid #00bc7d;
        background-color: transparent;
    }

    .btn.shelved.selected,
    .btn.shelved:hover {
        border-color: #e69b3e;
        color: #fff;
        border-bottom: 3px solid #e69b3e;
        background-color: transparent;
    }

    .btn.backlog.selected,
    .btn.backlog:hover {
        border-color: #ea377a;
        color: #fff;
        border-bottom: 3px solid #ea377a;
        background-color: transparent;
    }

    .btn.wishlist.selected,
    .btn.wishlist:hover {
        border-color: #b737ea;
        color: #fff;
        border-bottom: 3px solid #b737ea;
        background-color: transparent;
    }
}

.search-container {
    position: relative;
    display: flex;
}

.col-lg-3 {
    padding-right: 8px;
    padding-left: 8px;
}

:host ::ng-deep {
    .search-button {
        width: 100%;
        background-color: #242832;
        cursor: pointer;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        margin-top: 0;
        transition: all 0.2s ease-in-out;
        border: 1px solid rgb(162 177 229 / 11%);
        text-decoration: none;
        color: #ccdbf1;

        div {
            margin-left: 8px;
        }

        &:hover {
            background-color: #2f3441;
            transform: translateY(-2px);
            border-color: #ea377a;
        }

        .check-icon {
            color: #00bc7d;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.label-or {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 0.9rem;
    color: #8f9ca7;
    margin-left: 8px;
    width: 100%;
}

.search-buttons-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 0 8px;
    width: 100%;
}