.modal-header {
    .game-cover {
        width: 68px;
        height: 90px;
        border-radius: 5px;
        border: 1px solid #30394c;
        background-color: #30394c;
        overflow: hidden;
        margin-right: 16px;

        img {
            width: 100%;
        }
    }

    .game-title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 4px;
    }
}

.pl-8 {
    padding-left: 8px;
}

.pr-8 {
    padding-right: 8px;
}

.modal-body {
    height: 506px;
    overflow: visible;
}

.achievements-body.modal-body {
    overflow: auto;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    background: #252835;
}

::-webkit-scrollbar-thumb {
    background: #484d64;
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: #252835;
}

.modal-footer {
    background-color: #242832;
    justify-content: space-between;
}

.footer-buttons-right {
    display: flex;
    gap: 0.5rem;

    > * {
        margin: 0;
    }
}

.achievement-container {
    border-bottom: 1px solid rgb(162 177 229 / 11%);
    display: flex;
    padding: 10px;
    font-size: 14px;
    color: #ccdbf1;

    &:hover {
        background-color: #1d2027;
    }

    .achievement-description {
        color: #8f9ca7;
    }

    .achievement-informations {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;

        .achievement-time {
            font-size: 13px;
        }
    }

    &.last {
        border-bottom: 0;
    }

    .icon {
        width: 45px;
        height: 45px;
        margin-right: 16px;
        filter: grayscale(1);
    }

    .achievement-no-icon {
        width: 100%;
        height: 100%;
        background-color: #ea377a;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.achievement-container.achieved {
    .icon {
        filter: none;
    }
}

.achievements-buttons {
    display: flex;
    gap: 8px;
}

.p-6 {
    padding: 6px;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

:host ::ng-deep {
    .btn.playing.selected,
    .btn.playing:hover {
        background-color: #4b7bd4;
        border-color: #4b7bd4;
        color: #fff;
    }
    .btn.completed.selected,
    .btn.completed:hover {
        background-color: #00bc7d;
        border-color: #00bc7d;
        color: #fff;
    }
    .btn.shelved.selected,
    .btn.shelved:hover {
        background-color: #e69b3e;
        border-color: #e69b3e;
        color: #fff;
    }
    .btn.backlog.selected,
    .btn.backlog:hover {
        background-color: #ea377a;
        border-color: #ea377a;
        color: #fff;
    }
}

.search-container {
    position: relative;
    display: flex;
}

.search-button {
    position: absolute;
    bottom: 16px;
    right: 8px;
    background-color: #ea377a;
    padding: 7px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    height: 40px;

    &:hover {
        background-color: #fc6399;
    }
}
