<div class="modal-header">
    <div class="game-cover">
        @if (game.image) {
            <img
                [src]="game.image"
                alt="game cover" />
        }
    </div>
    <div class="game-principal">
        @if (!generalTab.active) {
            <div class="game-title">
                {{ game.name }}
            </div>
        } @else {
            <div class="row">
                <div class="search-container col-lg-12">
                    <app-input
                        [(value)]="game.name"
                        label="Game name"
                        [inputSize]="12"
                        (onFocus)="onFocusSearchGame()"
                        (onBlur)="onBlurSearchGame()"
                        (onKeyUp)="onKeyUpSearchGame()">
                    </app-input>

                    <!-- @if (gamesList.length) {
                        <search-game-dropdown [games]="gamesList"> </search-game-dropdown>
                    } -->
                </div>
            </div>
        }
    </div>
</div>

<loader
    [singleLoadIds]="[loaderEnum.SAVE_GAME, loaderEnum.DELETE_GAME]"
    [loaderIds]="[loaderEnum.SAVE_GAME_FROM_EXTERNAL]"
    type="MODAL">
    <tabs #tabs>
        <tab
            tabTitle="General"
            #generalTab>
            <div class="modal-body game-info-body">
                <div class="row">
                    <span class="label-or">Search online information in:</span>
                    <div class="search-buttons-container">
                        <a
                            class="search-button"
                            (click)="openSearchGameModal(gameSearchOriginEnum.IGDB)">
                            <div>IGDB</div>
                            @if (game.description) {
                                <div class="check-icon">
                                    <icon
                                        [icon]="iconEnum.Check"
                                        [size]="16">
                                    </icon>
                                </div>
                            }
                        </a>

                        <a
                            class="search-button"
                            (click)="openSearchGameModal(gameSearchOriginEnum.HLTB)">
                            <div>How Long To Beat</div>
                            @if (game.mainStoryTime) {
                                <div class="check-icon">
                                    <icon
                                        [icon]="iconEnum.Check"
                                        [size]="16">
                                    </icon>
                                </div>
                            }
                        </a>

                        @if (!this.game.status || this.game.status === statusEnum.Wishlist) {
                            <a
                                class="search-button"
                                (click)="openSearchGameModal(gameSearchOriginEnum.ITAD)">
                                <div>Is There Any Deal</div>
                                @if (game.itadId) {
                                    <div class="check-icon">
                                        <icon
                                            [icon]="iconEnum.Check"
                                            [size]="16">
                                        </icon>
                                    </div>
                                }
                            </a>
                        }
                    </div>
                </div>
            </div>
        </tab>

        @if (!this.isNewRegister()) {
            <tab
                tabTitle="Details"
                #detailsTab>
                <div class="modal-body game-info-body">
                    <div class="status-container">
                        <app-button
                            type="secondary-outline"
                            customClass="search-button playing {{ game.status === statusEnum.Playing ? 'selected' : '' }}"
                            (onClick)="setStatus(statusEnum.Playing)">
                            Playing
                        </app-button>

                        <app-button
                            type="secondary-outline"
                            customClass="search-button completed {{ game.status === statusEnum.Completed ? 'selected' : '' }}"
                            (onClick)="setStatus(statusEnum.Completed)">
                            Completed
                        </app-button>

                        <app-button
                            type="secondary-outline"
                            customClass="search-button backlog {{ game.status === statusEnum.Backlog ? 'selected' : '' }}"
                            (onClick)="setStatus(statusEnum.Backlog)">
                            Backlog
                        </app-button>

                        <app-button
                            type="secondary-outline"
                            customClass="search-button wishlist  {{ game.status === statusEnum.Wishlist ? 'selected' : '' }}"
                            (onClick)="setStatus(statusEnum.Wishlist)">
                            Wishlist
                        </app-button>
                    </div>

                    <div class="row">
                        <app-select
                            [(value)]="game.platform"
                            bindValue="id"
                            bindLabel="description"
                            [items]="platforms"
                            label="Platform"
                            [inputSize]="4">
                        </app-select>

                        <app-select
                            [(value)]="game.isCampaignComplete"
                            bindValue="id"
                            bindLabel="description"
                            [items]="trueFalse"
                            label="Is campaign complete?"
                            [inputSize]="4">
                        </app-select>

                        <app-select
                            [(value)]="game.isPlatinumed"
                            bindValue="id"
                            bindLabel="description"
                            [items]="trueFalse"
                            label="Is platinumed?"
                            [inputSize]="4">
                        </app-select>
                    </div>

                    <div class="row">
                        <time-played
                            [(value)]="game.timePlayed"
                            label="Time played"
                            [inputSize]="4">
                        </time-played>

                        <app-input
                            [(value)]="game.lastTimePlayedFormatted"
                            label="Last time played"
                            mask="00/00/0000 00:00:00"
                            [inputSize]="4">
                        </app-input>

                        <star-rating
                            label="Rating"
                            [(rating)]="game.rating"
                            color="#3f4b64"
                            colorSelected="#ea377a"
                            [inputSize]="4"
                            [size]="40"
                            customClass="fix-margins-rating"
                            [isSelectable]="true">
                        </star-rating>
                    </div>
                </div>
            </tab>
        }

        @if (!this.isNewRegister()) {
            <tab
                tabTitle="Achievements"
                #achievementsTab>
                <loader
                    [loaderIds]="[loaderEnum.ACHIEVEMENT_DELETE]"
                    [type]="'MODAL'">
                    <div
                        class="modal-body achievements-body p-6"
                        [class.no-achievements]="!game.achievements.length">
                        @for (achievement of game.achievements; track $index; let last = $last) {
                            <div
                                class="achievement-container"
                                [class.last]="last"
                                [class.achieved]="achievement.isAchieved">
                                <div class="icon">
                                    @if (achievement.image) {
                                        <img
                                            [src]="achievement.image"
                                            alt="achievement icon" />
                                    } @else {
                                        <div class="achievement-no-icon">
                                            <icon
                                                [icon]="iconEnum.Trophy"
                                                [size]="22">
                                            </icon>
                                        </div>
                                    }
                                </div>
                                <div class="achievement-informations">
                                    <div>
                                        <div>{{ achievement.name }}</div>
                                        <div class="achievement-description">{{ achievement.description || "-" }}</div>
                                    </div>

                                    <div class="achievements-buttons">
                                        <app-button
                                            type="secondary-outline"
                                            customClass="icon-button"
                                            (onClick)="editAchievement(achievement, $index)">
                                            <icon
                                                [icon]="iconEnum.Edit"
                                                [size]="16">
                                            </icon>
                                        </app-button>

                                        <app-button
                                            type="primary-outline"
                                            (onClick)="confirmDeleteAchievement(achievement, $index)"
                                            customClass="icon-button">
                                            <icon
                                                [icon]="iconEnum.Trash"
                                                [size]="16">
                                            </icon>
                                        </app-button>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (!game.achievements.length) {
                            <div class="row">
                                <span class="label-or">Search achievements in:</span>
                                <div class="search-buttons-container">
                                    <a
                                        class="search-button"
                                        (click)="searchAchievementsOnline(achievementSearchOriginEnum.Steam)">
                                        <div>Steam</div>
                                    </a>
                                    <a
                                        class="search-button"
                                        (click)="searchAchievementsOnline(achievementSearchOriginEnum.PsnProfiles)">
                                        <div>PSN Profiles</div>
                                    </a>
                                    <a
                                        class="search-button"
                                        (click)="searchAchievementsOnline(achievementSearchOriginEnum.RetroAchievements)">
                                        <div>Retro Achievements</div>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </loader>
            </tab>
        }
    </tabs>

    <div
        class="modal-footer"
        [class.align-end]="this.isNewRegister()">
        @if (!this.isNewRegister()) {
            <app-button
                type="primary-outline"
                (onClick)="confirmDeleteGame()">
                Delete game
            </app-button>
        } @else {
            <div></div>
        }

        <div class="footer-buttons-right">
            <app-button
                type="secondary"
                (onClick)="cancel()">
                Cancel
            </app-button>

            @if (detailsTab?.active) {
                <app-button (onClick)="save(loaderEnum.SAVE_GAME)"> Save </app-button>
            }
        </div>
    </div>
</loader>
