<div class="modal-header">
    <div class="game-cover">
        @if (game.image) {
            <img
                [src]="game.image"
                alt="game cover" />
        }
    </div>
    <div class="game-principal">
        <div class="game-title">
            {{ game.name }}
        </div>

        <div class="status-container">
            <app-button
                type="secondary-outline"
                customClass="playing {{ game.status === statusEnum.Playing ? 'selected' : '' }}"
                (onClick)="setStatus(statusEnum.Playing)">
                Playing
            </app-button>

            <app-button
                type="secondary-outline"
                customClass="completed {{ game.status === statusEnum.Completed ? 'selected' : '' }}"
                (onClick)="setStatus(statusEnum.Completed)">
                Completed
            </app-button>

            <app-button
                type="secondary-outline"
                customClass="shelved {{ game.status === statusEnum.Shelved ? 'selected' : '' }}"
                (onClick)="setStatus(statusEnum.Shelved)">
                Shelved
            </app-button>

            <app-button
                type="secondary-outline"
                customClass="backlog {{ game.status === statusEnum.Backlog ? 'selected' : '' }}"
                (onClick)="setStatus(statusEnum.Backlog)">
                Backlog
            </app-button>
        </div>
    </div>
</div>

<tabs #tabs>
    <tab
        tabTitle="Game info"
        #gameInfoTab>
        <div class="modal-body game-info-body">
            <div class="row">
                <div class="search-container col-lg-6">
                    <app-input
                        [(value)]="game.name"
                        label="Name"
                        [inputSize]="12">
                    </app-input>

                    <a
                        class="search-button"
                        (click)="openSearchIgdbModal()">
                        <icon
                            [icon]="iconEnum.Search"
                            [size]="24">
                        </icon>
                    </a>
                </div>
            </div>

            <div class="row">
                <app-textarea
                    [(value)]="game.description"
                    label="Description"
                    [inputSize]="12">
                </app-textarea>
            </div>

            <div class="row">
                <app-input
                    [(value)]="game.image"
                    label="Cover image"
                    [inputSize]="6">
                </app-input>

                <app-input
                    [(value)]="game.screenshot"
                    label="Background screenshot"
                    [inputSize]="6">
                </app-input>
            </div>

            <div class="row">
                <app-select
                    [(value)]="game.platform"
                    bindValue="id"
                    bindLabel="description"
                    [items]="platforms"
                    label="Platform"
                    [inputSize]="3">
                </app-select>

                <app-select
                    [(value)]="game.isCampaignComplete"
                    bindValue="id"
                    bindLabel="description"
                    [items]="trueFalse"
                    label="Is campaign complete?"
                    [inputSize]="3">
                </app-select>

                <app-select
                    [(value)]="game.isPlatinumed"
                    bindValue="id"
                    bindLabel="description"
                    [items]="trueFalse"
                    label="Is platinumed?"
                    [inputSize]="3">
                </app-select>

                <app-input
                    [(value)]="game.dateCompleted"
                    label="Date completed"
                    mask="00/00/0000 00:00:00"
                    [inputSize]="3">
                </app-input>
            </div>

            <div class="row">
                <time-played
                    [(value)]="game.timePlayed"
                    label="Time played"
                    [inputSize]="3">
                </time-played>

                <star-rating
                    label="Rating"
                    [(rating)]="game.rating"
                    color="#3f4b64"
                    colorSelected="#ea377a"
                    [inputSize]="3"
                    [size]="40"
                    customClass="fix-margins-rating"
                    [isSelectable]="true">
                </star-rating>
            </div>
        </div>
    </tab>

    <tab tabTitle="Achievements">
        <div class="modal-body achievements-body p-6">
            @for (achievement of game.achievements; track $index; let last = $last) {
                <div
                    class="achievement-container"
                    [class.last]="last"
                    [class.achieved]="achievement.isAchieved">
                    <div class="icon">
                        @if (achievement.image) {
                            <img
                                [src]="achievement.image"
                                alt="achievement icon" />
                        } @else {
                            <div class="achievement-no-icon">
                                <icon
                                    [icon]="iconEnum.Trophy"
                                    [size]="22">
                                </icon>
                            </div>
                        }
                    </div>
                    <div class="achievement-informations">
                        <div>
                            <div>{{ achievement.name }}</div>
                            <div class="achievement-description">{{ achievement.description || "-" }}</div>
                        </div>

                        <div class="achievements-buttons">
                            <app-button
                                type="secondary-outline"
                                customClass="icon-button"
                                (onClick)="editAchievement(achievement, $index)">
                                <icon
                                    [icon]="iconEnum.Edit"
                                    [size]="16">
                                </icon>
                            </app-button>

                            <app-button
                                type="primary-outline"
                                (onClick)="confirmDeleteAchievement(achievement, $index)"
                                customClass="icon-button">
                                <icon
                                    [icon]="iconEnum.Trash"
                                    [size]="16">
                                </icon>
                            </app-button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </tab>
</tabs>

<div class="modal-footer">
    @if (gameInfoTab.active) {
        <app-button
            type="primary-outline"
            (onClick)="confirmDeleteGame()">
            Delete game
        </app-button>
    } @else {
        <app-button (onClick)="addNewAchievement()"> Add new achievement </app-button>
    }
    <div class="footer-buttons-right">
        <app-button
            type="secondary"
            (onClick)="cancel()">
            Cancel
        </app-button>

        <app-button
            (onClick)="save()"
            [isLoading]="isSaveLoading">
            Save
        </app-button>
    </div>
</div>
