.image-container {
    align-items: center;
    background-color: #30394c;
    border: 1px solid #30394c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: filter 0.2s;
    overflow: hidden;
    width: 227px;
    height: 302px;
    text-align: center;
    position: relative;
    cursor: pointer;

    img {
        height: 300px;
    }
}

.card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 280px;
    padding: 16px;
    background: #242832;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: left;
    color: #e1e1e1;
}

.image-container:hover .card-info {
    transform: translateY(0);
}

.info-label {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 700;
    color: #8f9ca7;
}

.info-text {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.card-info h3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep {
    status {
        .achievement-status {
            padding-top: 3px;
        }
    }
}