.game-cover {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(75 85 99);
    padding: 16px 24px;
    border-radius: 4px;
    position: relative;
    display: flex;

    &:hover .game-image {
        transform: scale(1.05);
    }
}

.game-overlay {
    background-color: rgb(19 20 20 / 89%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
}

.game-image {
    position: relative;
    z-index: 11;
    height: 125px;
    margin-right: 24px;
    transition: transform 0.2s ease-in-out;
}

.game-title {
    color: rgb(209, 213, 219);
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-information-section {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 0;
    overflow: hidden;
}

.status {
    display: flex;
    font-size: 13px;
    color: rgb(209, 213, 219);
}

.icon {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-color: rgb(209, 213, 219);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    margin-right: 4px;
}

.clock-icon {
    -webkit-mask-image: url("/img/clock.svg");
    mask-image: url("/img/clock.svg");
}

.calendar-icon {
    -webkit-mask-image: url("/img/calendar.svg");
    mask-image: url("/img/calendar.svg");
}

.trophy-icon {
    -webkit-mask-image: url("/img/trophy.svg");
    mask-image: url("/img/trophy.svg");
}

.game-information {
    margin-bottom: 4px;
    display: flex;
    font-size: 14px;
}

.information-group {
    display: flex;
    margin-right: 8px;
    border-right: 1px solid rgb(209, 213, 219);
    padding-right: 8px;

    &.last {
        border: 0;
    }
}

.platform {
    padding: 0 8px;
    font-weight: bold;
    border-radius: 4px;

    &.plat-5 {
        background-color: #135787;
    }

    &.plat-4 {
        background-color: #15803d;
    }

    &.plat-8,
    &.plat-3,
    &.plat-2,
    &.plat-6,
    &.plat-9 {
        background-color: #194b9c;
    }

    &.plat-10 {
        background-color: #733b91;
    }

    &.plat-12 {
        background-color: #272425;
    }

    &.plat-11 {
        background-color: #b91c1c;
    }

    &.plat-1 {
        background-color: #0070ff;
    }

    &.plat-7 {
        background-color: #167e76;
    }
}

.price-label {
    text-align: center;
    font-weight: bold;
    font-size: 24px;

    &.atl {
        background-color: #00bc7d;
        color: #fff;
        padding: 0 8px;
        margin-right: 8px;
        border-radius: 4px;
        font-size: 20px;
        line-height: 36px;
    }

    &.ytl {
        background-color: #e69b3e;
        color: #fff;
        padding: 0 8px;
        margin-right: 8px;
        border-radius: 4px;
        font-size: 20px;
        line-height: 36px;
    }
}

.regular-price {
    font-weight: 300;
    margin-left: 16px;
    font-size: 18px;
    margin-top: 7px;
    text-decoration: line-through;
    color: #ada8a8;
}


.buy-button {
    background-color: #ea377a;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 12px;
    display: block;
    font-size: 0.9rem;
    transition: background-color 0.2s;
    margin-left: 24px;

    &:hover {
        background-color: #d92566;
    }
}

.buy-container {
    align-items: end;
    display: flex;
}

@media (max-width: 575px) {
    .game-information {
        display: none;
    }
}