.image-container {
    align-items: center;
    background-color: #30394c;
    border: 1px solid #30394c;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    transition: filter 0.2s;
    overflow: hidden;
    width: 227px;
    height: 302px;
    text-align: center;
    position: relative;
    cursor: pointer;

    img {
        height: 300px;
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease;
    padding: 10px;
}

.image-container:hover {
    .overlay {
        opacity: 1;
    }
}

.rating-container {
    position: absolute;
    top: 16px;
    width: 150px;
    background-color: #242832;
    border-radius: 4px;
    border: 1px solid #3b4760;
    padding: 1px 4px;
}

.last-played {
    margin-top: 24px;

    div {
        font-size: 12px;
    }
}

.complete-badge {
    position: absolute;
    background-color: #47a65f;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    font-size: 10px;
    height: 13px;
    letter-spacing: 1px;
    opacity: .85;
}