<a
    class="image-container"
    [routerLink]="['game', game().id]">
    @if (game().status === statusEnum.Completed) {
        <div class="complete-badge"> Completed </div>
    }

    @if (game().image) {
        <img
            [src]="game().image"
            alt="game" />
    } @else {
        <div class="d-flex direction-column align-center">
            <icon
                [icon]="iconEnum.Warning"
                [size]="24">
            </icon>
            Sync this game with IGDB
        </div>
    }
    <div class="overlay">
        <div class="rating-container">
            <star-rating
                [rating]="game().rating"
                color="#3f4b64"
                colorSelected="#ea377a"
                [size]="32">
            </star-rating>
        </div>
        <div>
            <div>{{ game().name }}</div>
            @if (game().lastUnlock && pageSort() === pageSortEnum.LastPlayed) {
                <div class="last-played">
                    <div>Last Played</div>
                    {{ game().lastUnlock | date: "dd/MM/yyyy HH:mm:ss" }}
                </div>
            }
        </div>
    </div>
</a>
