.screenshot-container {
    position: absolute;
    width: 100%;
    top: 0;
    max-height: 450px;
    overflow: hidden;
    z-index: -1;

    img {
        transform: translateY(-30%);
    }
}

.gradient {
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0, #16181c 100%);
    bottom: -1px;
    height: 80%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 0;
}

.upper-gradient {
    background: linear-gradient(0deg, transparent 2%, #16181c 109%);
    height: 262px;
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    height: 55px;
}