.screenshot-container {
    position: absolute;
    width: 100%;
    top: 0;
    max-height: 450px;
    overflow: hidden;
    z-index: -1;

    img {
        transform: translateY(-30%);
        width: 100%;
    }
}

.gradient {
    background: linear-gradient(to bottom, rgba(125, 185, 232, 0) 0, #16181c 100%);
    bottom: -1px;
    height: 80%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 0;
}

.upper-gradient {
    background: linear-gradient(0deg, transparent 2%, #16181c 109%);
    height: 262px;
    position: absolute;
    top: 0;
    width: 100%;
}

header {
    height: 55px;
}

.container {
    max-width: 1434px;
    margin: auto;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    .system-title {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.options-button {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .options-title {
        flex-grow: 1;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        height: 23px;
        margin-top: 3px;
    }

    &:hover .options-title {
        border-bottom: 2px solid #ffffff;
    }

    .dropdown-icon {
        padding: 6px 10px;
        cursor: pointer;
    }

    .options {
        background-color: #242832;
        min-width: 200px;
        right: 0;
        font-weight: 300;
        border-radius: 4px;
        top: 36px;
        box-shadow: rgba(27, 29, 41, 0.52) 0px 0.4rem 0.5rem 0px;
        border-top-right-radius: 0;
        border: 1px solid #242832;
        position: absolute;
        z-index: 11;

        a {
            padding: 8px 16px;
            cursor: pointer;
            display: block;

            &:hover {
                background-color: #1d2027;
            }
        }

        .border-bottom {
            border-bottom: 1px solid rgb(162 177 229 / 11%);
        }
    }
}

@media (max-width: 536px) {
    .screenshot-container {
        height: 325px;
        opacity: 0.5;

        img {
            height: 100%;
            width: auto;
            max-width: none;
            transform: none;
        }
    }
}

.login {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    height: 23px;
}

.login:hover {
    border-bottom: 2px solid #ffffff;
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: #ea377a;
    border-radius: 50%;
    margin-right: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
}
