<div class="modal-header"> Authorize Xbox login </div>

<div class="modal-body">
    <div>
        To authorize, access the following link and provide the code:
        <a
            [href]="url"
            class="link"
            target="_blank">
            Authorize
        </a>
    </div>
    <div>Code: {{ code }}</div>
</div>

<div class="modal-footer">
    <div class="footer-buttons-right">
        <app-button
            type="secondary"
            (onClick)="close()">
            Close
        </app-button>
    </div>
</div>
