.loading-skeleton-icon {
    margin-right: 8px;
    width: 65px;
    height: 65px;
    min-width: 65px;
    border-radius: 50%;
}

.achievement-container {
    border-bottom: 1px solid rgb(162 177 229 / 11%);
    display: flex;
    font-size: 14px;
    overflow: hidden;
    align-items: center;
    padding-bottom: 13px;
    margin-bottom: 13px;
}

.loading-skeleton-label {
    width: 100%;
    margin-bottom: 6px;
    height: 24px;
}

.skeleton-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}