.dropdown-menu {
    position: absolute;
    left: 8px;
    width: calc(100% - 16px);
    background-color: #22262f;
    top: 64px;
    z-index: 99;
    padding: 12px;
    display: flex;
    gap: 6px;
    flex-direction: column;
    border: 1px solid #3b414e;
    border-top: 0;
}

.loading-skeleton-label {
    width: 100%;
    margin-bottom: 6px;
    height: 24px;
}