.how-long-container {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 110px;
}

.how-long-item {
    background-color: #242832;
    width: 33.33%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    flex-direction: column;
    position: relative;

    img {
        position: absolute;
        right: -17px;
        top: 16px;
        height: 100px;
    }
}

.how-long-label {
    font-size: 13px;
    font-weight: 300;
    line-height: 17px;
}

.how-long-skeleton {
    width: 33.33%;
}

@media (max-width: 575px) {
    img {
        display: none;
    }

    .how-long-item {
        text-align: center;
    }
}
