.sidebar {
    &__menu {
        position: fixed;
        z-index: 1029;
        top: 0;
        right: 0;
        width: 100%;
        background-color: #16181c;
        height: 100%;
        overflow: auto;
        transition: transform 400ms ease-in-out;
    }

    &__menu.size-md {
        max-width: 450px;
        transform: translateX(450px);
    }

    &__menu.active {
        transform: translateX(0);
    }

    &__backdrop {
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.4s,
            visibility 0.4s;
        background-color: #000;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1028;
    }

    &__backdrop.active {
        opacity: 30%;
        visibility: visible;
    }

    &__heading {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        height: 68px;
        display: flex;
        align-items: center;
        padding: 24px;
    }

    &__body {
        padding: 24px;
    }
}
