<div class="modal-header"> {{ title }} </div>

<loader
    [loaderIds]="[loaderEnum.SEARCH_GAME_EXTERNAL]"
    type="MODAL">
    <div class="modal-body">
        @for (game of retrievedGames; track $index; let last = $last) {
            <a
                class="game-retrieved"
                [class.last]="last"
                [class.selected]="selectedGame.id === game.id"
                (click)="selectGame(game)">
                <div class="game-cover">
                    @if (game.image) {
                        <img
                            [src]="game.image"
                            alt="game cover" />
                    } @else {
                        <div class="no-image">
                            <icon
                                [icon]="iconEnum.Camera"
                                [size]="14">
                            </icon>
                        </div>
                    }
                </div>
                <div>
                    <div class="game-title">
                        {{ game.name }}
                    </div>
                </div>
            </a>
        }
    </div>

    <div class="modal-footer">
        <app-button
            type="secondary"
            (onClick)="cancel()">
            {{ "CANCEL" | translate }}
        </app-button>

        <app-button
            (onClick)="confirm()"
            [disabled]="!selectedGame.name">
            {{ "SELECT_GAME" | translate }}
        </app-button>
    </div>
</loader>
