<loader [loaderIds]="[loaderEnum.LIST_HOME, loaderEnum.COUNT_HOME]">
    <div class="d-flex space-between mt-24">
        <div class="status-filter">
            <a
                (click)="setStatus(statusEnum.PlayingCompleted)"
                [class.selected]="filter.status === statusEnum.PlayingCompleted">
                <span class="filter-label">{{ "ALL_GAMES" | translate }}</span>
                <span class="filter-counter">{{ gamesCount.all }}</span>
            </a>
            <a
                (click)="setStatus(statusEnum.Playing)"
                [class.selected]="filter.status === statusEnum.Playing">
                <span class="filter-label">{{ "PLAYING" | translate }}</span>
                <span class="filter-counter">{{ gamesCount.playing }}</span>
            </a>
            <a
                (click)="setStatus(statusEnum.Completed)"
                [class.selected]="filter.status === statusEnum.Completed">
                <span class="filter-label">{{ "COMPLETED" | translate }}</span>
                <span class="filter-counter">{{ gamesCount.completed }}</span>
            </a>
            <a
                (click)="setStatus(statusEnum.Backlog)"
                [class.selected]="filter.status === statusEnum.Backlog">
                <span class="filter-label">{{ "BACKLOG" | translate }}</span>
                <span class="filter-counter">{{ gamesCount.backlog }}</span>
            </a>
            <a
                (click)="setStatus(statusEnum.Wishlist)"
                [class.selected]="filter.status === statusEnum.Wishlist">
                <span class="filter-label">{{ "WISHLIST" | translate }}</span>
                <span class="filter-counter">{{ gamesCount.wishlist }}</span>
            </a>
        </div>

        <div class="mobile-status">
            <app-select
                [(value)]="filter.status"
                bindValue="id"
                bindLabel="description"
                class="p-0"
                [items]="gameListStatus"
                [searchable]="false"
                (onChange)="setStatus(filter.status)"
                [inputSize]="12">
            </app-select>
        </div>

        <div class="status-filter">
            <a (click)="openSidebar()">
                <icon
                    [icon]="icons.Filter"
                    [size]="14">
                </icon>
                <span class="filter-label">{{ "FILTERS" | translate }}</span>
            </a>
        </div>
    </div>

    <div class="grid-games-container">
        @for (game of games; track $index) {
            <game-card
                [game]="game"
                (onClick)="saveFilter()">
            </game-card>
        }
    </div>

    @if (filter.total && games.length && filter.pages > 1) {
        <ngb-pagination
            [page]="filter.page"
            [collectionSize]="filter.total"
            [pageSize]="filter.limit"
            (pageChange)="setPageOnState($event)"
            [maxSize]="5"
            [rotate]="true"
            [ellipses]="false"
            [boundaryLinks]="true"
            [directionLinks]="false">
            <ng-template ngbPaginationFirst>{{ "FIRST" | translate }}</ng-template>
            <ng-template ngbPaginationLast>{{ "LAST" | translate }}</ng-template>
        </ngb-pagination>
    }
</loader>

<sidebar
    [(active)]="isSidebarOpened"
    (onBackdropClick)="revertFilters()">
    <row>
        <app-input
            [(value)]="filter.name"
            [label]="'GAME_NAME' | translate">
        </app-input>

        @if (filter.status !== statusEnum.Backlog && filter.status !== statusEnum.Wishlist) {
            <app-select
                [(value)]="filter.sort"
                bindValue="id"
                bindLabel="description"
                [items]="gameListSortBy"
                [label]="'SORT_BY' | translate">
            </app-select>
        }

        <app-select
            [(value)]="filter.platform"
            bindValue="id"
            bindLabel="description"
            [items]="platforms"
            [clearable]="true"
            [label]="'PLATFORM' | translate">
        </app-select>

        <app-select
            [(value)]="filter.isCampaignComplete"
            bindValue="id"
            bindLabel="description"
            [items]="trueFalse"
            [clearable]="true"
            [label]="'IS_CAMPAIGN_COMPLETED' | translate">
        </app-select>

        <app-select
            [(value)]="filter.isPlatinumed"
            bindValue="id"
            bindLabel="description"
            [items]="trueFalse"
            [clearable]="true"
            [label]="'IS_PLATINUMED' | translate">
        </app-select>

        <app-select
            [(value)]="filter.genre"
            bindValue="slug"
            bindLabel="name"
            [items]="genres"
            [clearable]="true"
            [label]="'GENRE' | translate">
        </app-select>

        <app-select
            [(value)]="filter.theme"
            bindValue="slug"
            bindLabel="name"
            [items]="themes"
            [clearable]="true"
            [label]="'THEME' | translate">
        </app-select>

        <app-input
            [(value)]="filter.releaseYear"
            [label]="'RELEASE_YEAR' | translate">
        </app-input>

        <app-input
            [(value)]="filter.completionYear"
            [label]="'COMPLETION_YEAR' | translate">
        </app-input>

        <star-rating
            [label]="'RATING' | translate"
            [(rating)]="filter.rating"
            color="#3f4b64"
            colorSelected="#ea377a"
            [size]="40"
            customClass="fix-margins-rating mb-10"
            [isSelectable]="true">
        </star-rating>
    </row>

    <app-button
        customClass="mt-10 mb-10"
        (onClick)="listGames()">
        {{ "FILTER" | translate }}
    </app-button>

    <app-button
        [type]="'secondary-outline'"
        (onClick)="clearFilter()">
        {{ "CLEAR" | translate }}
    </app-button>
</sidebar>
