.gap-8 {
    gap: 8px;
}

.status-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;

    a {
        position: relative;
        display: flex;
        padding: 7px 12px;
        border-radius: 5px;
        font-size: 15px;
        height: 37px;
        background-color: #1c1e23;
        cursor: pointer;
    }

    a.selected {
        background-color: #242832;
    }

    .filter-label {
        font-weight: 400;
        white-space: nowrap;
        margin-top: 1px;
    }

    a.selected .filter-label {
        opacity: 1;
    }

    a:hover {
        background-color: #242832;
    }

    a:hover .filter-label {
        opacity: 1;
    }

    .filter-counter {
        text-align: left;
        cursor: pointer;
        background-color: #ea377a;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 12px;
        height: 18px;
        margin-left: 7px;
        margin-top: 3px;
    }

    a.selected .filter-counter {
        opacity: 1;
    }
}

.mt-24 {
    margin-top: 24px;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: #ea377a;

    a {
        color: #ea377a !important;
    }

    .link {
        font-weight: 700;
        margin-left: 6px;
        font-size: 18px;
    }
}

.mobile-status {
    display: none;
    width: 100%;
    margin-right: 18px;
}

.grid-games-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    position: relative;
}

@media (max-width: 575px) {
    .status-filter {
        display: none;
    }

    .mobile-status {
        display: grid;
    }

    game-image {
        width: calc(50% - 4px);
    }

    .grid-games-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

:host ::ng-deep {
    .p-0 {
        padding: 0 !important;
    }

    .status-filter icon i {
        margin-top: 5px;
        margin-right: 8px;
    }
}