.gap-8 {
    gap: 8px;
}

:host ::ng-deep {
    ngx-skeleton-loader {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }
}

.status-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    a {
        position: relative;
        display: flex;
    }

    .filter-label {
        cursor: pointer;
        margin: 0;
        font-weight: 400;
        padding: 2px 0;
        border-bottom: 2px solid transparent;
        font-size: 20px;
        text-align: center;
        white-space: nowrap;
        opacity: .4;
        transition: all .4s;
    }

    a.selected .filter-label {
        opacity: 1;
        border-bottom: 2px solid #ffffff;
    }

    a:hover .filter-label {
        border-bottom: 2px solid #ffffff;
    }

    .filter-counter {
        position: relative;
        top: 0;
        height: 20px;
        margin-left: 4px;
        margin-right: 24px;
        min-width: 25px;
        text-align: left;
        font-size: 13px;
        opacity: .4;
        cursor: pointer;
    }

    a.selected .filter-counter {
        opacity: 1;
    }
}


@media(max-width: 536px) {
    game-card {
        width: calc(50% - 4px) !important;
        min-height: 260px !important;
    }

    :host ::ng-deep {
        game-card .image-container {
            width: auto !important; 
            height: auto !important;
            min-height: 260px !important;

            img {
                height: auto !important;
            min-height: 260px !important;
            }
        }
    }

    .status-filter {
        flex-wrap: wrap;
    }
}