.gap-8 {
    gap: 8px;
}

.status-filter {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;

    a {
        position: relative;
        display: flex;
    }

    .filter-label {
        cursor: pointer;
        margin: 0;
        font-weight: 400;
        padding: 2px 0;
        border-bottom: 2px solid transparent;
        font-size: 20px;
        text-align: center;
        white-space: nowrap;
        opacity: 0.4;
        transition: all 0.4s;
    }

    a.selected .filter-label {
        opacity: 1;
        border-bottom: 2px solid #ffffff;
    }

    a:hover .filter-label {
        border-bottom: 2px solid #ffffff;
    }

    .filter-counter {
        position: relative;
        top: 0;
        height: 20px;
        margin-left: 4px;
        margin-right: 24px;
        min-width: 25px;
        text-align: left;
        font-size: 13px;
        opacity: 0.4;
        cursor: pointer;
    }

    a.selected .filter-counter {
        opacity: 1;
    }
}

.mt-24 {
    margin-top: 24px;
}

.filters-container {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    color: #ea377a;

    a {
        color: #ea377a !important;
    }

    .link {
        font-weight: 700;
        margin-left: 6px;
        font-size: 18px;
    }
}

.mobile-status {
    display: none;
    width: 100%;
    margin-right: 18px;
}

@media (max-width: 575px) {
    .status-filter {
        display: none;
    }

    .mobile-status {
        display: grid;
    }

    game-image {
        width: calc(50% - 4px);
    }
}

:host ::ng-deep {
    .p-0 {
        padding: 0 !important;
    }
}