<div class="modal-header"> {{ "LOGIN" | translate }} </div>

<loader
    [singleLoadIds]="[loaderEnum.LOGIN]"
    type="MODAL">
    <div class="modal-body">
        <div class="row">
            <app-input
                [(value)]="username"
                [label]="'USER' | translate"
                [inputSize]="12">
            </app-input>

            <app-input
                [(value)]="password"
                [label]="'PASSWORD' | translate"
                type="password"
                [inputSize]="12">
            </app-input>
        </div>
    </div>

    <div class="modal-footer">
        <app-button
            type="secondary"
            (onClick)="cancel()">
            {{ "CANCEL" | translate }}
        </app-button>

        <app-button (onClick)="login()"> {{ "LOGIN" | translate }} </app-button>
    </div>
</loader>
