<div class="modal-header"> {{ "EDIT_ACHIEVEMENT" | translate }} </div>

<loader
    [singleLoadIds]="[loaderEnum.ACHIEVEMENT_SAVE]"
    type="MODAL">
    <div class="modal-body">
        <div class="row">
            <app-input
                [(value)]="achievement.name"
                [label]="'NAME' | translate"
                [inputSize]="6">
            </app-input>
        </div>

        <div class="row">
            <app-input
                [(value)]="achievement.description"
                [label]="'DESCRIPTION' | translate"
                [inputSize]="12">
            </app-input>
        </div>

        <div class="row">
            <app-input
                [(value)]="achievement.description_ptbr"
                [label]="'DESCRIPTION_TRANSLATED' | translate"
                [inputSize]="12">
            </app-input>
        </div>

        <div class="row">
            <app-input
                [(value)]="achievement.image"
                [label]="'ICON' | translate"
                [inputSize]="12">
            </app-input>
        </div>

        <div class="row">
            <app-select
                [(value)]="achievement.isAchieved"
                bindValue="id"
                bindLabel="description"
                [items]="trueFalse"
                [label]="'IS_ACHIEVED' | translate"
                [inputSize]="6">
            </app-select>

            <app-input
                [(value)]="achievement.dateAchievedConverted"
                [label]="'DATE_ACHIEVED' | translate"
                mask="00/00/0000 00:00:00"
                [inputSize]="6">
            </app-input>
        </div>

        <div class="row">
            @if (game.platform === platformEnum.Xbox) {
                <app-input
                    [(value)]="achievement.type"
                    [label]="'VALUE' | translate"
                    [inputSize]="6">
                </app-input>
            }

            @if (game.platform === platformEnum.Playstation4 || game.platform === platformEnum.Playstation5) {
                <app-select
                    [(value)]="achievement.type"
                    bindValue="id"
                    bindLabel="description"
                    [items]="achievementTypes"
                    [label]="'VALUE' | translate"
                    [inputSize]="6">
                </app-select>
            }

            <app-input
                [(value)]="achievement.percentageAchieved"
                [label]="'ACHIEVE_PERCENTAGE' | translate"
                [inputSize]="6">
            </app-input>
        </div>
    </div>

    <div class="modal-footer">
        <app-button
            type="secondary"
            (onClick)="cancel()">
            {{ "CANCEL" | translate }}
        </app-button>

        <app-button (onClick)="save()">
            {{ "SAVE" | translate }}
        </app-button>
    </div>
</loader>
